<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  
  <div class="p-5">
    <form class="form" action="/account/register" method="post">
      
        
          <h2>Register Account</h2>
        </div>
        
          <span class="tip">* Required</span>
  
          
            <label>
              <span>First Name:</span><span class="required">*</span>
              <input aria-label="First Name" type="text" name="account_firstname" required aria-required="true" pattern="[A-Za-z ]{3,50}">
            </label>
          </div>
  
          
            <label>
              <span>Last Name:</span><span class="required">*</span>
              <input aria-label="Last Name" type="text" name="account_lastname" required aria-required="true" pattern="[A-Za-z ]{3,50}">
            </label>
          </div>
  
          <div class="form-element">
            <label>
              <span>Email:</span><span class="required">*</span>
              <input aria-label="Email" type="email" name="account_email" required aria-required="true">
            </label>
          </div>
  
          <div class="form-element">
            <label>
              <span>Password:</span><span class="required">*</span>
              <input aria-label="Password" type="password" name="account_password" required aria-required="true">
            </label>
          </div>
  
          <div class="form-element">
            <label>
              <span>Account Type:</span><span class="required">*</span>
              <select aria-label="Account Type" name="account_type" required aria-required="true">
                <option value="client">Client</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
              </select>
            </label>
          </div>
          <div class="form-submit">
            <input id="submitButton" type="submit" name="submit" value="Register">
          </div>
        </div>
        <div class="form-footer">
        </div>
      </div>
    </form>
  </div>