<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<div class="p-5"> 
    <form>
        <label for="account_email">Email:</label><br>
        <input type="email" id="account_email" name="account_email" required placeholder="Enter a valid email address"><br>
        <label for="account_password">Password:</label><br>
        <input type="password" id="account_password" name="account_password" value=""><br><br>
        <button type="submit">Login</button><br><br>
        <label>No account?</label> <a class= "txt-white" href="/account/register">Sign-up</a> <br>

    </form> 
    <br>
    <br>
</div>