<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

  <%# messages() %>
  
    <h1>Account Management</h1>
    <br>
    <h2>Welcome New</h2>
    <br>
    <p>You're logged in.</p>
    <br><br>