<%- messages() %>
    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

<h2>Register</h2>

<form>
  <label for="account_firstname">First Name:</label><br>
  <input type="text" id="account_firstname" name="account_firstname" value=""><br>
  <label for="account_lastname">Last Name:</label><br>
  <input type="text" id="account_lastname" name="account_lastname" value=""><br><br>
  <label for="account_email">Email:</label><br>
  <input type="email" id="account_email" name="account_email" value=""><br>
  <label for="account_password">Password:</label><br>
  <input type="password" id="account_password" name="account_password" value=""><br><br>
  <button type="submit">Register</button>
</form> 

