<% const d = new Date()
let year = d.getFullYear() %>
<footer class="mb-3">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Roboto']
    }
  });
</script>