<div>

  <header id="top-header">
    <div class="bg-white">
        <div class="d-flex siteName">
          <div>
            <a href="/" title="Return to home page" class="tTile txt-bold">CSE Motors</a>
          </div>
          <div  id="tools" class="p-3">
            <a title="Click to log in" href="/account/login" class="tTileAcount txt-bold">My Account</a>
          </div>
        </div>
    </div>
  </header>

