<div>

  <header id="top-header">
    <div class="bg-white">
        <div class="d-flex siteName">
          <div class="flex-grow-1">
            <a href="/" title="Return to home page" class="tTile txt-bold">CSE Motors</a>
          </div>
              <% if (locals.loggedin) { %>
                <span>Welcome, <%- locals.accountData.account_firstname %></span> 
                <a title="Click to log in" href="/account/"></a>
                <form method="post" action="/logout">
                  <button type="submit">Logout</button>
                </form>
              <% } else { %>
                <a title="Click to log in" href="/account/login">My Account</a>
              <% } %>
          </div>
        </div>
    </div>
  </header>
  
  
