<div>

  <header id="top-header">
    <div class="bg-white">
        <div class="d-flex siteName">
          <div class="flex-grow-1">
            <a href="/" title="Return to home page" class="tTile txt-bold">CSE Motors</a>
          </div>
              <% if (locals.loggedin) { %>
                <a class = "whithoutLine p-3" href="/account/">Welcome
                <%- locals.accountData.account_firstname %></a> 
                <a title="Click to log in" href="/account/"></a>
                <form method="post" action="/logout">
                  <button class="txt-red" type="submit">Logout</button>
                </form>
              <% } else { %>
                <a class = "whithoutLine p-3" title="Click to log in" href="/account/login">My Account</a>
              <% } %>
            
        </div>
    </div>
  </header>
  
  
