<div class="container bg-white mx-auto my-3 blue-border">
  <header id="top-header">
    <div class="bg-white">
        <span class="d-flex siteName">
            <div>
              <a href="/" title="Return to home page" class="tTile">CSE Motors</a>
            </div>
            <div  id="tools" class="p-3">
              <a title="Click to log in" href="/account/login" class="tTileAcount">My Account</a>
            </div>
        </span>
    </div>
</header>