<nav class="bg-dark-gray">
    <ul id="main-menu" class="d-flex justify-content-space-around list-unstyled">
        <li><a href="#" class="txt-decoration-none txt-white py-3 px-2 d-block fs-6">Home</a></li>
        <li><a href="#" class="txt-decoration-none txt-white py-3 px-2 d-block fs-6">Custom</a></li>
        <li><a href="#" class="txt-decoration-none txt-white py-3 px-2 d-block fs-6">Sedan</a></li>
        <li><a href="#" class="txt-decoration-none txt-white py-3 px-2 d-block fs-6">SUV</a></li>
        <li><a href="#" class="txt-decoration-none txt-white py-3 px-2 d-block fs-6">Trucks</a></li>
    </ul>
</nav>