/******* Change Box Model ***************/
html{
    box-sizing: border-box;
   }
   
   *,
   *:before,
   *:after {
    box-sizing: inherit;
   }

   #inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto; 
   }

   #inv-display li img {
       max-width: 100%;
   }

   .copyright {
    color: #110101;
    margin-left: 10px;
   }

button {
    background-color:  white;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

input{
    padding-block: 4px;
    padding-inline: 70px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 10px;
}

#pswdBtn {
    border: 2px solid #0000;
    border-radius: 5px;
    padding: 2px;
    margin-top: 1em;
    width: 7em;
    color:red;
    text-align: center;
}

 form {
    display: block;
    border-radius: 10px;
    margin-top: 0em;
    border-style:double;
    top: 60px;
    left: 100px;
    width: 350px;
    padding: 15px;
    color:white;
    text-align: center;
    background-color: rgba(1, 17, 88, 0.959);
}

input:required:invalid, input:focus:invalid {
    background-color: rgb(248, 204, 204);
   }
   input:required:valid {
    background-color: rgb(24, 236, 8);
   }

/*bigger screens*/
#inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
}

#inv-display h2{
    font-size: 1rem;
}

#inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.txt-black{
    color: #0a0a0a;
}

.txt-bold{
    font-weight: bold;
}

.txt-gray{
    color: #bababa;
}

.txt-light-gray{
    color: #8d8d8d;  
}

.txt-dark-gray{
    color: #3a3a3a;
}

.txt-sky-blue{
    color:#1fb9db;
}

.txt-white{
    color:white;
}

.txt-light-blue{
    color: #4c96d7;
}

.txt-sky-blue-light{
    color: #a6cbeb;
}

/**/
.li-messages {
    color: #f10a15;
    margin-top: 10px;
    margin-left: 40px;

}
.bg-dark-gray{
    background-color: #3a3a3a;    
}

.bg-white{
    background-color:white;
}

.bg-light-blue{
    background-color: #4c96d7;
}

.bg-sky-blue-light{
    background-color: #06b0d5;    
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Georgia', sans-serif;
}

html{
background-color: #3a3a3a;
background-image: url('../images/site/small_check.jpg');
background-size: auto;
background-position: inherit;
background-repeat: repeat;

}

/*conainers*/
.container{
    max-width: 100%;
}

/*Structure*/
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap !important;
  }

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-space-around
{
    justify-content:space-around;
}

.center-center{
    align-items: center;
    justify-content: center;
}

/*spaces*/
.p-0 {
    padding: 0;}
  
.p-1 {
    padding: 0.25rem;
}
  
.p-2 {
    padding: 0.5rem;
}
  
.p-3 {
    padding: 1rem;
}
  
.p-4 {
    padding: 1.5rem;
}
  
.p-5 {
    padding: 3rem;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.py-0 {
    padding-top: 0 ;
    padding-bottom: 0;
}
  
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
  
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
  
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

/*Header*/
.d-flex.siteName{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

/*Navegation*/
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/*home*/
.d-flex.colum1{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
}

/*utylitid*/
.txt-center {
    text-align: center;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.txt-decoration-none{
    text-decoration: none;
}

.m-2 {
    margin: 0.5rem;
}  
.m-5 {
    margin: 3rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw);
}

.fs-2 {
    font-size: calc(1.325rem + 0.9vw);
}

.fs-3 {
    font-size: calc(1.3rem + 0.6vw);
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw);
}

.fs-5 {
    font-size: 1.25em;
}

.fs-6 {
    font-size: 1em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.border {
    border: 1px solid #dee2e6;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
  }
@media screen and (max-width: 767px){
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

/* start button head*/
.tTile{
    font-size: 30px;
    color: black;
    text-decoration-line: none;
}

.tTileAcount{
    font-size: 15px;
    color: black;
    text-decoration-line: none;
}
/*end button head*/
/*start message to the action*/
.dmc{
    top: 60px;
    left: 100px;
    width: 200px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
/*end messsage to action*/

/*star list car*/
ul.listCar li{
    margin-bottom: 18px;
}
/*end list car*/


    
.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    }

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}


    .container{
        max-width: 970px;
    }

    /*Rows*/
    .row {
      /*--bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;*/
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(0 * -1);
      margin-right: calc(1.5rem * -.5);
      margin-left: calc(1.5rem * -.5);
    }


    .row-responsive{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: start;
    }

    .w-50-r {
        width: 50%;
    }

    /*template*/
    .blue-border{
        border-radius: 5px;
        border: 0.5rem solid #1fb9db;
    }

    .my-3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .d-block-r{
        display: block;
    }
    
    .d-none-r{
        display: none;
    }

    .px-3-r {
        padding-right: 1rem ;
        padding-left: 1rem ;
      }

    #main-menu li a:hover
    {
        color: black;
        background-color: white;
    }



/*/*/


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.whithoutLine{
    text-decoration: none;
}

/*
menu botones
*/
