<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>

    <section class="bg-white position-relative p-5">
      
        <div><a href="/inv/addClassification">Add a classification</a></div><br>
        <div><a href="/inv/addVehicle">Add a vehicle</a></div>
        <br><br>
        <h2>Manage Inventory</h2><br>
        <h4>Choose a classification to see those inventory items.</h4><br>
        
        <%- classificationSelect %>

        <table id="inventoryDisplay"></table>

        <br><br><br><br><br><br><br>
        <noscript class="txt-red txt-bold">JavaScript must be enabled to use this page.</noscript>
       </div>
    </section>
    <script src="../../js/inventory.js"></script>